---
title: Map & Directions
siteURL: http://www.paobasketball.co.uk
pageURL: /map.html
siteName: PAO Basketball Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description: The Official website of Panathinaikos Basketball Academy London
twitter_description: The Official website of Panathinaikos Basketball Academy London
twitter_user: paolondonba
---

mapZoom: 10

mapLat: 51.493878
mapLong: -0.239544
mapTitle: Paul's Boys School

mapLat2: 51.624477
mapLong2: -0.060388
mapTitle2: Edmonton Leisure Centre
---

                        <div id="mapPage" class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Map & Directions
                                </h3>
                                <p>
                                    PAO Basketball Academy will initially operate both in North and West London as follows:
                                </p>
                                <h5>
                                    Edmonton Leisure Centre in Enfield, North London
                                </h5>
                                <p>
                                    <strong>Address:</strong>
                                    <br/>Edmonton Leisure Centre,
                                    <br/>2 The Broadway, London
                                    <br/>N9 0TR
                                </p>
                                <h5>
                                    St. Paul's Boys School in Hammersmith, West London
                                </h5>
                                <p>
                                    <strong>Address:</strong>
                                    <br/>St. Paul's Boys School,
                                    <br/>Lonsdale Road,
                                    <br/>SW13 9JT
                                </p>

                                <div id="map-canvas">
                                </div>

                                <input type="hidden" id="mapZoom" value="{{ page.mapZoom }}" />

                                <input type="hidden" id="mapLat" value="{{ page.mapLat }}" />
                                <input type="hidden" id="mapLong" value="{{ page.mapLong }}" />
                                <input type="hidden" id="mapTitle" value="{{ page.mapTitle }}" />

                                <input type="hidden" id="mapLat2" value="{{ page.mapLat2 }}" />
                                <input type="hidden" id="mapLong2" value="{{ page.mapLong2 }}" />
                                <input type="hidden" id="mapTitle2" value="{{ page.mapTitle2 }}" />
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
