---
title: Map & Directions
siteURL: http://www.domainname.com
pageURL: /map.html
siteName: PAO BC Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain

mapLat: 51.624477
mapLong: -0.060388
mapZoom: 14
mapTitle: Edmonton Leisure Centre

mapLat2: 51.493878
mapLong2: -0.239544
mapZoom2: 14
mapTitle2: Paul's Boys School
---

                        <div id="mapPage" class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Map & Directions
                                </h3>
                                <p>
                                    PAO Basketball Academy will initially operate both in North and West London as follows:
                                </p>
                                <h5>
                                    Edmonton Leisure Centre in Enfield, North London
                                </h5>
                                <p>
                                    Address: Edmonton Leisure Centre, 2 The Broadway, London N9 0TR
                                </p>
                                <h5>
                                    St. Paul's Boys School in Hammersmith, West London
                                </h5>
                                <p>
                                    Address: St. Paul's Boys School, Lonsdale Road, SW13 9JT
                                </p>

                                <div id="map-canvas">
                                </div>

                                <input type="hidden" id="mapLat" value="{{ page.mapLat }}" />
                                <input type="hidden" id="mapLong" value="{{ page.mapLong }}" />
                                <input type="hidden" id="mapZoom" value="{{ page.mapZoom }}" />
                                <input type="hidden" id="mapTitle" value="{{ page.mapTitle }}" />

                                <input type="hidden" id="mapLat2" value="{{ page.mapLat2 }}" />
                                <input type="hidden" id="mapLong2" value="{{ page.mapLong2 }}" />
                                <input type="hidden" id="mapZoom2" value="{{ page.mapZoom2 }}" />
                                <input type="hidden" id="mapTitle2" value="{{ page.mapTitle2 }}" />
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
